<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBoDl6JTFD7RW1ZddLB6y3GIQQKO6RjkJE</string>
	<key>GCM_SENDER_ID</key>
	<string>568878996300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohammedsapplication.app</string>
	<key>PROJECT_ID</key>
	<string>post-page-test</string>
	<key>STORAGE_BUCKET</key>
	<string>post-page-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568878996300:ios:a222854da83704b32e4de9</string>
</dict>
</plist>